div {
  background-color: #060047;
}
h1 {
  color: #b3005e;
  text-align: center;
}
p {
  color: #e90064;
}

body {
  background-color: #228b22;
  margin: 0;
  text-align: center;
}

.mountain {
  top: 4px;
}

.chmurka {
  position: relative;
}

.chmurka1 {
  top: 1em;
  right: 15vw;
}

.chmurka2 {
  bottom: 5em;
  left: 40vw;
}

.chmurka3 {
  top: -2em;
  right: 45vw;
}

.chmurka4 {
  top: 4em;
  left: 50vw;
}

.chmurka5 {
  top: -1.5em;
  left: 20vw;
}

.chmurka6 {
  top: -2em;
  right: 30vw;
}

.chmurka7 {
  top: 6em;
  right: 50vw;
}

.pingwinior {
  top: 4px;
  right: 1vw;
}

.chowchow {
  top: 15px;
  left: 3vw;
}
